{
 "messages": [
  {
   "@type": "/cosmwasm.wasm.v1.MsgStoreCode",
   "sender": "empower10d07y265gmmuvt4z0w9aw880jnsr700jxwhwvd",
   "wasm_byte_code": "{{.WASMByteCode}}",
   "instantiate_permission": {
    "permission": "AnyOfAddresses",
    "addresses": [
     "empower10d07y265gmmuvt4z0w9aw880jnsr700jxwhwvd"
    ]
   }
  }
 ],
 "metadata": "ipfs://CID",
 "deposit": "10000000stake",
 "title": "Marketplace Contract",
 "summary": "Store WASM code"
}