@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
h2,
.h2 {
  font-size: 28px;
  font-weight: 600;
}

.emp-skin-a {
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
.emp-skin-a .navbar .navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;
}
.emp-skin-a .navbar .navbar-brand .logo {
  width: 90%;
  max-width: 200px;
}
.emp-skin-a .container-fluid {
  height: calc(100vh - 75px);
}
.emp-skin-a .container-fluid .emp-sidebar {
  background-color: rgba(0, 0, 0, 0.22);
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav {
  width: 70%;
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item {
  margin: 10px 0;
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 14px;
  padding-left: 70px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: 10% center;
  border-radius: 16px;
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link.home {
  background-image: url(../images/icon-home.svg);
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link.wallet {
  background-image: url(../images/icon-my-wallet.svg);
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link.contact {
  background-image: url(../images/icon-contact.svg);
}
.emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link.active {
  background-color: rgba(0, 0, 0, 0.4);
}
.emp-skin-a .container-fluid .emp-content-box {
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 16px;
  padding: 2rem;
  max-width: 1000px;
}
.emp-skin-a .container-fluid .emp-content-box.emp-astro {
  margin-top: 160px;
  position: relative;
}
.emp-skin-a .container-fluid .emp-content-box.emp-astro .emp-character {
  background-image: url(../images/emp-astro-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 248px;
  height: 194px;
  position: absolute;
  top: -184px;
  right: calc(25% + 124px);
  animation: float 6s ease-in-out infinite;
}
@media (max-width: 575.98px) {
  .emp-skin-a .container-fluid .emp-sidebar {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .emp-skin-a .container-fluid .emp-sidebar .menu-deck .nav .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .emp-skin-a .container-fluid .emp-content-box.emp-astro {
    margin-top: 0;
  }
  .emp-skin-a .container-fluid .emp-content-box.emp-astro .emp-character {
    background-image: none;
  }
}
@media (max-width: 767.98px) {
  .emp-skin-a .container-fluid .emp-content-box.emp-astro {
    margin-top: 0;
  }
  .emp-skin-a .container-fluid .emp-content-box.emp-astro .emp-character {
    background-image: none;
  }
}
@media (max-width: 991.98px) {
  .emp-skin-a .container-fluid .emp-content-box.emp-astro .emp-character {
    width: 248px;
    height: 194px;
    top: -184px;
  }
}