@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "assets/scss/variables.scss";

h1,
.h1 {}

h2,
.h2 {
    font-size: 28px;
    font-weight: 600;
}

h3,
.h3 {}

h3,
.h3 {}

.emp-skin-a {
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    font-family: 'Open Sans', sans-serif;
    color: $em-light;

    .navbar {
        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            display: flex;
            justify-content: center;

            .logo {
                width: 90%;
                max-width: 200px;
            }
        }
    }

    .container-fluid {
        height: calc(100vh - 75px);

        .emp-sidebar {
            background-color: rgba($em-dark, 0.22);

            .menu-deck {
                display: flex;
                align-items: center;
                justify-content: center;

                .nav {
                    width: 70%;

                    .nav-item {
                        margin: 10px 0;

                        .nav-link {
                            color: $em-light;
                            font-size: 14px;
                            padding-left: 70px;
                            height: 62px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            background-repeat: no-repeat;
                            background-position: 10% center;
                            border-radius: 16px;

                            &.home {
                                background-image: url(../images/icon-home.svg);
                            }

                            &.wallet {
                                background-image: url(../images/icon-my-wallet.svg);
                            }

                            &.contact {
                                background-image: url(../images/icon-contact.svg);
                            }

                            &.active {
                                background-color: rgba($em-dark, 0.4);
                            }

                            .icon {}
                        }
                    }
                }
            }
        }

        .emp-content-box {
            background-color: rgba($em-dark, 0.22);
            border-radius: 16px;
            padding: 2rem;
            max-width: 1000px;

            &.emp-astro {
                margin-top: 160px;
                position: relative;

                .emp-character {
                    background-image: url(../images/emp-astro-1.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 248px;
                    height: 194px;
                    position: absolute;
                    top: -184px;
                    right: calc(25% + 124px);
                    animation: float 6s ease-in-out infinite;
                }
            }

            .box-header {}

            .box-body {}

            .box-footer {}
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .emp-skin-a {
        .navbar {
            .navbar-brand {
                .logo {}
            }
        }

        .container-fluid {

            .emp-sidebar {
                background-color: rgba($em-dark, 0.8);

                .menu-deck {

                    .nav {

                        .nav-item {

                            .nav-link {

                                &.home {}

                                &.wallet {}

                                &.contact {}

                                &.active {
                                    background-color: rgba($em-light, 0.1);
                                }

                                .icon {}
                            }
                        }
                    }
                }
            }

            .emp-content-box {

                &.emp-astro {
                    margin-top: 0;

                    .emp-character {
                        background-image: none;
                    }
                }

                .box-header {}

                .box-body {}

                .box-footer {}
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .emp-skin-a {
        .navbar {
            .navbar-brand {
                .logo {}
            }
        }

        .container-fluid {

            .emp-sidebar {

                .menu-deck {

                    .nav {

                        .nav-item {

                            .nav-link {

                                &.home {}

                                &.wallet {}

                                &.contact {}

                                &.active {}

                                .icon {}
                            }
                        }
                    }
                }
            }

            .emp-content-box {

                &.emp-astro {
                    margin-top: 0;

                    .emp-character {
                        background-image: none;
                    }
                }

                .box-header {}

                .box-body {}

                .box-footer {}
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .emp-skin-a {
        .navbar {
            .navbar-brand {
                .logo {}
            }
        }

        .container-fluid {

            .emp-sidebar {

                .menu-deck {

                    .nav {

                        .nav-item {

                            .nav-link {

                                &.home {}

                                &.wallet {}

                                &.contact {}

                                &.active {}

                                .icon {}
                            }
                        }
                    }
                }
            }

            .emp-content-box {

                &.emp-astro {

                    .emp-character {
                        width: 248px;
                        height: 194px;
                        top: -184px;
                    }
                }

                .box-header {}

                .box-body {}

                .box-footer {}
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width