$base-color: #00d349;
$em-dark: #000000;
$em-light: #ffffff;


@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}