@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col justify-center  max-w-[1440px] bg-black mx-auto;
}
