name: "Export EmpowerChain Genesis"

on:
  workflow_dispatch:
  # TODO: Maybe do on a cron schedule, every week or something?

jobs:
  export-testnet-genesis:
    name: Export EmpowerChain Genesis
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: earthly/actions-setup@v1
        with:
          version: 0.6.30

      - run: earthly --ci +prep-genesis
        working-directory: ./chain

      - name: Archive genesis file
        uses: actions/upload-artifact@v3
        with:
          name: exported-testnet-genesis
          path: chain/exported-genesis.json