name: Create EmpowerChain release

on: 
  workflow_dispatch:
    inputs:
      upgradeDir:
        description: 'Upgrade directory name (e.g. v2)'   
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: earthly/actions-setup@v1
        with:
          version: 0.6.30

      - run: earthly --ci --output +build-static --VERSION=${{ github.ref_name }}
        working-directory: ./chain

      - run: |
          mv empowerd-${{ github.ref_name }}-linux-amd64 empowerd && zip -q empowerd-${{ github.ref_name }}-linux-amd64.zip empowerd && rm empowerd
        working-directory: ./chain/build

      - uses: "ncipollo/release-action@v1"
        with:
          artifacts: ./chain/build/*
          bodyFile: "./chain/app/upgrades/${{ inputs.upgradeDir }}/RELEASE_NOTES.md"
