name: "Simulation tests on EmpowerChain"

on:
  workflow_dispatch:

jobs:
  sim-tests:
    name: Run EmpowerChain simulation tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        test:
          [
            test-sim-import-export,
            test-sim-after-import,
            test-sim-multi-seed-short,
            test-sim-multi-seed-long,
            test-sim-nondeterminism,
          ]
    steps:
      - uses: actions/checkout@v3

      - uses: earthly/actions-setup@v1
        with:
          version: v0.6.30

      - run: earthly --ci +${{ matrix.test }}
        working-directory: ./chain