name: Create EmpowerChain pre-release

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - 'chain/**'

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: earthly/actions-setup@v1
        with:
          version: 0.6.30

      - run: earthly --ci --output +build-static --VERSION=${{ github.ref_name }}
        working-directory: ./chain

      - run: |
          mv empowerd-${{ github.ref_name }}-linux-amd64 empowerd && zip -q empowerd-${{ github.ref_name }}-linux-amd64.zip empowerd && rm empowerd
        working-directory: ./chain/build

      - uses: "ncipollo/release-action@v1"
        with:
          tag: "latest"
          allowUpdates: true
          name: "Development Build"
          makeLatest: true
          prerelease: true
          artifacts: ./chain/build/*
