name: "Docs depoly"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/**' # On updating docs

jobs:
  build:
    name: Deploy EmpowerChain docs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3   
      - uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-args: '--prod'
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          scope: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          working-directory: ./docs