name: "Check empowerchain-1 gentxs"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'mainnet/empowerchain-1/gentx/**'

jobs:
  build:
    name: Check empowerchain-1 gentxs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: earthly/actions-setup@v1
        with:
          version: 0.6.30

      - run: earthly --ci +test-collect-gentx
        working-directory: ./mainnet/empowerchain-1
